 
		html {
			font-family: verdana;
			font-size: 12px;
		}

        div#grid { margin: auto; border: 0px solid gray; margin-left: 10%; margin-right: 10%;  }

        div.row {
        display: grid;
        grid-column-gap=3px;
        grid-row-gap=8px;

        grid-template-columns: 140px 30px 750px  100px 10px  40px auto ;

        }

    * { border: 0px solid transparent; }
    input, textarea { padding: 4px; margin: 3px; }

	span {   text-align: center;  padding-top: 6px;}

	.blue {	background-color: #2380d2; color: white; font-weight: 800; font-size: 18px; padding: 3px;	}

	.col1 {	grid-column: 1 / 1;	 color: gray;  text-align: right;}
	.col2 {	grid-column: 2 / 2;	 color: gray; text-align: center; }
	.col3 {	grid-column: 3 / 3;	font-size: 14px; }
	.col4 {	grid-column: 4 / 4;	color: gray; text-align: left;}
	.col5 {	grid-column: 5 / 5;	}
	.col6 {	grid-column: 6 / 6;	color: gray; }
	.col7 {	grid-column: 7 / 7;	color: gray;  text-align: left;}


	.col14 {	grid-column: 1 / 5;	}
	.col23 {	grid-column: 2 / 4;	}

 
