<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
	 body { background-color: #f0f0f0; text-align: center; border-top: 20px; solid blue; }
	 input, textarea, button { border: 1px solid #e0e0e0; background-color: #fafafa; width: 300px; margin: 4px; padding: 4px;  text-align: right; }
	 label { width: 400px; clear: both; }
	 span { display: block; text-align: right;}
	 form { width: 600px; margin: auto;}

	 </style>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>

<div>
    <form action="#" th:action="@{'/itemEdit'}" th:object="${itemEditForm}" method="post" enctype="multipart/form-data">

    <div class="lang" id="PL">

        <div class="columns">

            <div class="column firstColumn">

                <input th:replace="fragments/fragmentDisabled.html :: input( 'getCode()' ,   'code' )"/>
                <input th:replace="fragments/fragmentDisabled.html :: input( 'getLangCode()' ,   'code' )"/>
                <input th:replace="fragments/fragmentDisabled.html :: input( 'getPrice()' ,   'price' )"/>


                <input       th:replace="fragments/fragments.html :: input( 'getName2()' ,   'name2' )"/>
                <textarea th:replace="fragments/fragmentsTextArea.html :: input( 'getDescription2()' ,   'description2' )"/>

                <input th:replace="fragments/fragments.html :: input( 'getDescriptionInline()' ,   'descriptionInline' )"/>
                <input th:replace="fragments/fragments.html :: input( 'getNameInTable()' ,   'nameInTable' )"/>

             </div>

            <div class="column secondColumn">
                <table>
                    <th:block th:each="childrenInLine : ${completeItem.getChildrensInLine()}">

                        Comment2.<input    th:text="${childrenInLine.getComment2()}"  th:name="${childrenInLine.getCode()+'_'+childrenInLine.getLangCode()+'_'+childrenInLine.getIssueId()+'_comment2'}"    th:id="${childrenInLine.getCode()+'_'+childrenInLine.getLangCode()+'_'+childrenInLine.getIssueId()+'_comment2'}"  />
                        Descr.<input    th:text="${childrenInLine.getDescriptionInline()}"  th:name="${childrenInLine.getCode()+'_'+childrenInLine.getLangCode()+'_'+childrenInLine.getIssueId()+'_descriptionInline'}"  th:id="${childrenInLine.getCode()+'_'+childrenInLine.getLangCode()+'_'+childrenInLine.getIssueId()+'_descriptionInline'}"  />

                        <span class="input childrenInline"  th:text="${childrenInLine.getCode()}"  />
                        <span class="input childrenInline"  th:text="${childrenInLine.getLangCode()}"  />
                        <span class="input childrenInline"  th:text="${childrenInLine.getIssueId()}"  />
                        <span class="input childrenInline"  th:text="${childrenInLine.getPrice()}"  />
                        <span class="input childrenInline"  th:text="${childrenInLine.getName()}"  />
                        <span class="input childrenInline"  th:text="${childrenInLine.getName2()}"  />
                        <span class="input childrenInline"  th:text="${childrenInLine.getDescription()}"  />
                        <span class="input childrenInline"  th:text="${childrenInLine.getDescription2()}"  />

                    </th:block>
                </table>
            </div>


           <div class="column thirdColumn">
               <table>
                   <th:block th:each="childrenInTable : ${completeItem.getChildrensInTable()}">

                       lp.<input    th:text="${childrenInTable.getComment2()}"  th:name="${childrenInTable.getCode()+'_'+childrenInTable.getLangCode()+'_'+childrenInTable.getIssueId()+'_comment2'}"    th:id="${childrenInTable.getCode()+'_'+childrenInTable.getLangCode()+'_'+childrenInTable.getIssueId()+'_comment2'}"  />
                       TableName<input    th:text="${childrenInTable.getNameInTable()}"  th:name="${childrenInTable.getCode()+'_'+childrenInTable.getLangCode()+'_'+childrenInTable.getIssueId()+'_nameInTable'}"  th:id="${childrenInTable.getCode()+'_'+childrenInTable.getLangCode()+'_'+childrenInTable.getIssueId()+'_nameInTable'}"  />

                       <span class="input childrenInTable"  th:text="${childrenInTable.getCode()}"  />
                       <span class="input childrenInTable"  th:text="${childrenInTable.getLangCode()}"  />
                       <span class="input childrenInTable"  th:text="${childrenInTable.getIssueId()}"  />
                       <span class="input childrenInTable"  th:text="${childrenInTable.getPrice()}"  />
                       <span class="input childrenInTable"  th:text="${childrenInTable.getName()}"  />
                       <span class="input childrenInTable"  th:text="${childrenInTable.getName2()}"  />
                       <span class="input childrenInTable"  th:text="${childrenInTable.getDescription()}"  />
                       <span class="input childrenInTable"  th:text="${childrenInTable.getDescription2()}"  />

                   </th:block>
               </table>
           </div>


            <div class="column fourColumn">
                <span class="input" th:replace="fragments/fragmentDisabled.html :: input( 'getName()' ,   'name' )"/>
                <span class="input" th:replace="fragments/fragmentDisabled.html :: input( 'getDescription()' ,   'description' )"/>
            </div>

        </div>
        <span><input type="submit" value="Zapisz"/></span>
    </div>


        </form>
</div>

</body>
</html>
