* {	border: 0; 
	padding: 0;
}
html {
	font-family: verdana;
	font-size: 12px;
	background-color: #dddddd;
}
#grid, #gridPL { 
	margin-left: 50px; 
	margin-right: 50px;  
}
div.row {
        display: grid;
        grid-column-gap=3px;
        grid-row-gap=8px;
        grid-template-columns: 140px 30px 400px 100px 1px 50px 400px ;
}
#gridPL {
	margin-top: 50px;	
}
#table_head, #tab_head {
	background-color: lightslategray;
	width: 670px;
	color: white;
	margin: 20px 0 10px;
	line-height: 20px;
	text-align: center;
	font-size: 16px;
	font-weight: 500; 
}
input, textarea { 
	padding: 4px; 
	margin: 3px; 
}
span {
	text-align: center;  
	padding-top: 6px;
}
.blue {	
	background-color: #2380d2; 
	color: white;
	margin-bottom: 10px;
	font-weight: 600; 
	font-size: 24px; 
	padding: 3px;
	height: 50px;	
	line-height: 50px;
}
.row_save {
	height: 50px;	
}
.row_save input {
	height: 100%;
	margin-top: 20px;
	background-color: brown;
	color: white;
	font-size: 20px;
	font-weight: 600;
}
.row_save input:hover {
	background-color: tomato;
}
#gridPL div.row_header span {
	background-color: lightslategray;
	color: #dddddd;
}
.col1 {	grid-column: 1 / 1;	 color: gray;  text-align: left;}
.col2 {	grid-column: 2 / 2;	 color: gray; text-align: center; }
.col3 {	grid-column: 3 / 3;	font-size: 14px; }
.col4 {	grid-column: 4 / 4;	color: gray; text-align: right;}
.col5 {	grid-column: 5 / 5;	}
.col6 {	grid-column: 6 / 6;	color: gray; }
.col7 {	grid-column: 7 / 7;	color: gray;  text-align: left;}
.col14 {	grid-column: 1 / 5;	}
.col23 {	grid-column: 1 / 5;	}
